plugin = eosio::chain_plugin
plugin = eosio::http_plugin
plugin = eosio::chain_api_plugin
plugin = eosio::net_plugin
plugin = eosio::history_api_plugin
plugin = eosio::state_history_plugin

access-control-allow-origin = '*'
verbose-http-errors = true
http-validate-host = false
http-server-address = 0.0.0.0:8888
contracts-console = true

p2p-peer-address = seed1.telos.eosindex.io:9876
p2p-peer-address = p2p.eos.miami:13975
p2p-peer-address = 176.9.11.220:2195
p2p-peer-address = 109.237.25.217:3876
p2p-peer-address = p2p.telosdac.io:9876
p2p-peer-address = 3.16.106.146:9876
p2p-peer-address = seed-testnet.telosmadrid.io:9876
p2p-peer-address = p2p.nytelos.com:8012
p2p-peer-address = telosapi.eosmetal.io:29877
p2p-peer-address = http://p2p.telosvoyager.io:9876
p2p-peer-address = producer.teloscanton.io:5806
p2p-peer-address = p2p.telosvancouver.io:9876
p2p-peer-address = api.eosimpera.com:8888
p2p-peer-address = telosp2p.eossweden.eu:8012
p2p-peer-address = p2p.telos.csx.io:9876
p2p-peer-address = p2p-telos.infinitybloc.io:9877
p2p-peer-address = p2p.telosin.space:9876
p2p-peer-address = 88.99.193.44:7777
p2p-peer-address = apinode.telosgermany.io:9876
p2p-peer-address = p2p.theteloscope.io:9876
p2p-peer-address = 47.52.96.208:8888
p2p-peer-address = p2p.telosuk.io:9876
p2p-peer-address = p2p.testnet.eossandiego.io:9876
p2p-peer-address = 52.236.180.48:8012
p2p-peer-address = 80.24.108.21:8888
p2p-peer-address = p2p.telos.dutcheos.io:9876
p2p-peer-address = 18.223.79.140:9876
p2p-peer-address = 18.221.98.117:8888
p2p-peer-address = 185.130.44.82:9876
p2p-peer-address = p2p2.telos.telosgreen.com:9876
p2p-peer-address = p2p.telosvenezuela.com:9876
p2p-peer-address = telosseed.ikuwara.com:9876
p2p-peer-address = 138.68.236.130:9876
p2p-peer-address = p2p.stagenet.telos.eosdetroit.io:1337
p2p-peer-address = 51.77.136.246:9876
p2p-peer-address = staging.jijiplan.com:9876
p2p-peer-address = 47.105.112.48:8888
p2p-peer-address = telos.caleos.io:9880
p2p-peer-address = 51.77.136.246:9876
p2p-peer-address = peer2.eosphere.io:9876
p2p-peer-address = 0.0.0.0:8888
p2p-peer-address = telosafrique.eosnairobi.io:9476
p2p-peer-address = testnet.goingos.org:9876
p2p-peer-address = 0.0.0.0.0:8888
p2p-peer-address = 207.148.6.75:9876
p2p-peer-address = 207.148.6.75:9876
p2p-peer-address = node2.emea.telosglobal.io:9876
p2p-peer-address = telos.octagonlabs.net:9876
p2p-peer-address = seed.tlos.goodblock.io:9876
p2p-peer-address = p2p.telosunlimited.io:9876
p2p-peer-address = 173.249.40.11:9876
p2p-peer-address = telosp2p.eosawake.io:9876
p2p-peer-address = undefined
p2p-peer-address = telos.eosvibes.io:9876
p2p-peer-address = 1.tcp.ngrok.io:9876
p2p-peer-address = p2p.telosarabia.net:9876
p2p-peer-address = node.telos.eclipse24.io:9876
p2p-peer-address = undefined
p2p-peer-address = undefined
p2p-peer-address = p2p.kainosbp.com:9876
p2p-peer-address = p2p.telos.africa:9876
p2p-peer-address = 5.39.66.54:9876
p2p-peer-address = api.eostribe.io:9115
p2p-peer-address = bp.eosnigeria.io:9876
p2p-peer-address = undefined
p2p-peer-address = 159.69.73.194:9876
p2p-peer-address = telos.seed.eosdublin.io:9876
p2p-peer-address = p2p.telos-21zephyr.com:9876
p2p-peer-address = p2p.telos.cryptosuvi.io:2222
p2p-peer-address = p2p-eos.eossf.net:9876
p2p-peer-address = undefined
p2p-peer-address = 35.182.245.39:9876
p2p-peer-address = 45.56.93.125:9876
p2p-peer-address = undefined
p2p-peer-address = 192.159.39.48:8080
p2p-peer-address = undefined
p2p-peer-address = peer.eos-mainnet.eosblocksmith.io:9876
p2p-peer-address = p2p.telosrussia.io:9876
p2p-peer-address = sslapi.teloscentral.com:61020
p2p-peer-address = p2p.mainnet.eos.eosgermany.online:9876
p2p-peer-address = eosbp-0.atticlab.net:9876
p2p-peer-address = mainnet.telosusa.io:9877
p2p-peer-address = mainnet.telosusa.io:9877
p2p-peer-address = undefined
